<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Список пользователей</title>
</head>
<body>
<table>
    <tr>
        <th>Имя пользователя</th>
        <th>Почта</th>
        <th>Статус</th>
        <th>Роль</th>
    </tr>
    <tr th:each = "user: ${users}">
        <td th:text="${user.userName}">userName</td>
        <td th:text="${user.email}">email</td>
        <td th:text="${user.isActive} ? 'Активен' : 'Не активен'">isActive</td>
        <td th:text="${user.role.role}">role</td>
    </tr>
</table>
</body>
</html>